force-app/main/default/flows/Enhanced_Activity_List_ARC_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Closed_Tasks</name>
        <label>Add Closed Tasks</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ClosedTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Edited_Activity_History_Tasks</name>
        <label>Add Edited Activity History Tasks</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>EditedTaskstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Activity_History_Edited_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Activity_History_Edited_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Edited_Tasks</name>
        <label>Add Edited Tasks</label>
        <locationX>842</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>EditedTaskstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Open_Activity_Edited_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Open_Activity_Edited_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Open_Tasks</name>
        <label>Add Open Tasks</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OpenTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Complete</name>
        <label>Assign To Complete</label>
        <locationX>490</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Selected_Rows.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_Selected_Rows.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_Selected_Rows.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Complete_Tasks_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Complete_Tasks_Collection</name>
        <label>Assign To Complete Tasks Collection</label>
        <locationX>490</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>CompletedTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Selected_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Rows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Categorize_Tasks</name>
        <label>Categorize Tasks</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Closed_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Tasks.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Closed_Tasks</targetReference>
            </connector>
            <label>Is Closed Task</label>
        </rules>
        <rules>
            <name>Is_Open_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Tasks.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Open_Tasks</targetReference>
            </connector>
            <label>Is Open Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Custom_Button_Used</name>
        <label>Was a Custom Button Used</label>
        <locationX>402</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Open_Activity_Edited_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Was_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpenActivities.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Records</targetReference>
            </connector>
            <label>Delete Was Used</label>
        </rules>
        <rules>
            <name>Mark_As_Complete_Was_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark As Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpenActivities.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Selected_Rows</targetReference>
            </connector>
            <label>Mark As Complete Was Used</label>
        </rules>
    </decisions>
    <description>A packaged template flow for ARC teams to use an enhanced version of the activity history related list. Intended to be copied into a new flow and further customized</description>
    <environments>Default</environments>
    <interviewLabel>Enhanced Activity List {ARC Template] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enhanced Activity List [ARC Template]</label>
    <loops>
        <name>Loop_on_Activity_History_Edited_Rows</name>
        <label>Loop on Activity History Edited Rows</label>
        <locationX>754</locationX>
        <locationY>1250</locationY>
        <collectionReference>ActivityHistory.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Edited_Activity_History_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Edited_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Open_Activity_Edited_Rows</name>
        <label>Loop on Open Activity Edited Rows</label>
        <locationX>754</locationX>
        <locationY>950</locationY>
        <collectionReference>OpenActivities.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Edited_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Activity_History_Edited_Rows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Selected_Rows</name>
        <label>Loop on Selected Rows</label>
        <locationX>402</locationX>
        <locationY>950</locationY>
        <collectionReference>OpenActivities.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Completed_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Tasks</name>
        <label>Loop on Tasks</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Activities_on_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Categorize_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Activity_History</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Selected_Records</name>
        <label>Delete Selected Records</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <inputReference>OpenActivities.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Activities_on_Account</name>
        <label>Get Activities on Account</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Completed_Task_Records</name>
        <label>Update Completed Task Records</label>
        <locationX>402</locationX>
        <locationY>1358</locationY>
        <inputReference>CompletedTaskCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Edited_Tasks</name>
        <label>Update Edited Tasks</label>
        <locationX>754</locationX>
        <locationY>1550</locationY>
        <inputReference>EditedTaskstoUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Activity_History</name>
        <label>Activity History</label>
        <locationX>402</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_a_Custom_Button_Used</targetReference>
        </connector>
        <fields>
            <name>OpenActivities</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Subject,WhatId,Type,ActivityDate,Status,OwnerId,Priority,TaskSubtype</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Subject:0, WhatId:0, Type:0, ActivityDate:0, Status:0, OwnerId:0, Priority:0, TaskSubtype:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Open Activities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Subject,Related To,Type,Due Date,Status,Assigned To,Priority,Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OpenTaskCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FlowActions</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Mark As Complete&quot;,&quot;value&quot;:&quot;Mark As Complete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:ban&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OpenActivities.numberOfRowsSelected</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ActivityHistory</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Activity History</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Subject,WhatId,Type,ActivityDate,OwnerId,TaskSubtype</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Subject:0, WhatId:0, Type:0, ActivityDate:0, OwnerId:0, TaskSubtype:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Subject,Related To,Type,Due Date,Assigned To,Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ClosedTaskCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Subject:true, WhatId:true, Type:true, ActivityDate:false, OwnerId:false, TaskSubtype:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Activities_on_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClosedTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CompletedTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>EditedTaskstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OpenTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
